---
import RootLayout from "../layouts/RootLayout.astro";
import { Button } from "@repo/ui/src/components/ui/button";
---

<RootLayout>
  <p class="text-blue-600">Hello.</p>
  <Button client:load> Click Me </Button>
</RootLayout>
